@using Microsoft.AspNetCore.Identity;
@using SageBook.Lab2_3.MVC_WebAPI.Models.Order;
@model List<OrderViewModel>

@{
    ViewData["Title"] = "Order Books";
}

<div class="">
    <div class="container grid-container">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/362/180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@book.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@book.Sages</h6>
                            <p class="card-text">@book.Description</p>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-6" id="orderNowDiv">
                                <input id="orderBtn_@book.Id" type="button" class="btn btn-success ml-3 mr-auto" value="Order Now" />
                            </div>
                            <div class="col-md-6">
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="ml-auto mr-0 btn btn-outline-primary">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            var orderNowBtn = $('#orderNowDiv input[type="button"]');

            $(orderNowBtn).on('click', function () {
                var id = $(this)[0].id.substring(9);
                var url = `@Url.Action("BookOrder","Order")?id=${id}`;
                $("#orders-view").load(url);
            });
        });
    </script>
}
