<div class="row">
    <form asp-controller="Account" asp-action="Register" class="form-group">
        <div class="col-3 offset-4 mb-3 mt-5"><input type="text" name="username" placeholder="Username" class="form-control"/></div>
        <div class="col-3 offset-4 mb-3"><input type="password" name="password" placeholder="Password" class="form-control"/></div>
        <div class="col-3 offset-5 mb-3"><button type = "submit" class="btn btn-primary">Sign Up</button></div>
    </form>
</div>
