<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SageBookContext" connectionString="Server=DCNOTE58\SQLEXPRESS;Database=SageBook;Trusted_Connection=True; Integrated Security=SSPI; TrustServerCertificate=true;" />
    </connectionStrings>
</configuration>